/* General */
body {
    font-family: Arial, sans-serif; 
    margin: 30;
    padding: 33;
    background-color: rgba(7, 4, 4, 0.744);
    color: rgba(255, 255, 255, 0.011);
    text-align: center;
    overflow-x: hidden; 
    overflow-y: auto;
}
header {
    position: fixed;
    top: 1; 
    width: 100%; 
    background: #625959; 
    z-index: 1000; 
    display: flex; 
    justify-content: space-between;
    align-items: center;

}